     <style>
         .mail-wrapper .mail-right .mail-right-content .note-editable {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        background: #EDF0F1;
        height: 300px;
    }
      .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
          color: #00838F;
          cursor: default;
          border: none;
          border-bottom: 1px solid  #00838F;  
        }
        .nav-tabs.nav-tabs-v3 {
            border-bottom: 2px solid #DDD;
            padding-top: 0px;
            margin-bottom: 10px;
        }
        a, a:hover {
          color: #918F99;
          cursor: pointer;
        }
        /* Hide the file input using
        opacity */
        [type=file] {
            position: absolute;
            filter: alpha(opacity=0);
            opacity: 0;
        }
        input,
        [type=file] + label {
          border: 1px solid #CCC;
          border-radius: 3px;
          text-align: left;
          padding: 10px;
          width: 150px;
          margin: 0;
          left: 0;
          position: relative;
        }
        [type=file] + label {
          text-align: center;
          /*left: 7.35em;*/
          /*top: -1em;*/
          /* Decorative */
          background: transparent;
          color: #918C8C;
          border: none;
          cursor: pointer;
        }
        [type=file] + label:hover {
          background: transparent;
        }
     </style>
      <div class="container-fluid mimin-wrapper">
          <!-- start: Content -->
          <div id="content">
                  <div class="panel box-shadow-none content-header" style="margin-bottom:0">
            <div class="panel-body" style="padding:0; padding-left:25px">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft ng-binding">
                     <button onclick="window.location.href='#/material'" onclick="reload()" style="border:none; background:transparent"><i class="fa fa-hand-o-left" style="color:#F36E14; font-size:27px; margin-left:-12px; margin-right:7px"></i></button>
                      Create Materials
                    </h3>
                    <!-- ngRepeat: item in settings.settings -->
                </div>
            </div>
        </div>
        
            <div class="col-md-12" style="padding:20px;">
              <div class="panel mail-wrapper">
                   
                   <!--<ul class="nav nav-tabs" id="myTab" style="border:none; margin-left:50px">
                     <li class="active"><a data-target="#home" data-toggle="tab">Create note</a></li>
                   </ul> -->
                    
                  <div class="panel-body">
                      <div class="col-md-12 padding-0">
                        <div class="col-md-12 col-sm-12 padding-0 mail-right" style="padding-top:0">
                          <div class="col-md-12 mail-right-tool" style="padding-top:0; padding-bottom:7px">
                            <!--<ul id="tabs-demo4" class="nav">
                                <li><input type="text" class="txtinput border box-shadow-none" placeholder="Material title" style="background:transparent; margin-left:-10px; width:200%;"/></li>
                            </ul>-->
                            <ul id="tabs-demo4" class="nav nav-tabs nav-tabs-v3" role="tablist">
                                      <li role="presentation" class="active">
                                        <input ng-model="material.title" type="text" class="modal-content-right-text-mail" style="border:none; width:200%; margin-bottom:-10px" placeholder="Material title">
                                        <a aria-expanded="true"></a>
                                      </li>
                                    </ul>
                          </div>
                          <!--<div class="col-md-12 mail-right-content" style="padding=left:10px;">
                              <div class="col-md-12 padding-0">
                                 <form>
                                    <textarea name="editor1" id="editor1" rows="10" cols="80">
                                        Note content
                                    </textarea>
                                    <script>
                                        CKEDITOR.replace( 'editor1' );
                                    </script>
                                </form>
                                
                                
                              </div>
                              <div class="col-md-12 top-20">
                                <div class="pull-right">
                                  <button class="btn ripple-infinite btn-raised btn-success" style="width:120px">
                                    <div>
                                      <span>Save</span>
                                    </div>
                                  </button>                          
                                 </div>
                              </div>
                          </div>-->
                          
                          <div id="tabsDemo4Content" class="tab-content tab-content-v3">
                                      <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo4-area1" aria-labelledby="tabs-demo4-area1" style="margin-bottom:13px">    
                                            <label style="margin-right:10px">Please choose file image: </label>
                                            <input id="f01" name="mimage" file-model="myFile" type="file" placeholder="" accept="image/*"/>
                                            <label for="f01" style="border:1px solid #918C8C; padding:1px; width:auto; padding-right:5px; padding-left:5px;">choose image ...</label><br/><br/>

                                            <label style="margin-right:10px">Please choose file sound: </label>
                                            <input id="f02" type="file" placeholder="" accept="audio/*"/>
                                            <label for="f02" style="border:1px solid #918C8C; padding:1px; width:auto; padding-right:5px; padding-left:5px;">choose sound ...</label>

                                              <textarea id="mcontent" data-ng-model="material.content" class="box-v7-commenttextbox" rows="10" placeholder="write material content ..." style="display:block; width:100%; border-color:#CCCCCC; padding:5px; margin-top:15px"></textarea>
                                              <button class="btn ripple-infinite  btn-warning right top-20" onclick="if (event.keyCode == 13) document.getElementById('mcontent').val().replaceAll('/\n/g','<br/>')" ng-click="creatematerial(material)" style="width:90px">
                                                <div>
                                                  <span>Save</span>
                                                </div>
                                              </button>  
                                              <button ng-click="uploadFile()">upload me</button>                                                             
                                      </div>                                                              
                                    </div>

                        </div>
                      </div>
                  </div>

              </div>
            </div>
          </div>
          <!-- end: Content -->
  </div>
    <!-- custom -->
     <script type="text/javascript">

     $("[type=file]").on("change", function(){
      // Name of file and placeholder
      var file = this.files[0].name;
      var dflt = $(this).attr("placeholder");
      if($(this).val()!=""){
        $(this).next().text(file);
      } else {
        $(this).next().text(dflt);
      }
    });

     function reload(){
          $("html, body").animate({
              scrollTop: 0
          }, 600);
          // $(document.body).scrollTop(0);
          // window.location.reload(true);
        };
        
      (function(jQuery){
           $('input').iCheck({
              checkboxClass: 'icheckbox_flat-red',
              radioClass: 'iradio_flat-red'
            });

              $('.summernote').summernote({
                height: 750
              });
        })(jQuery);
     </script>