<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="styles/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="styles/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style type="text/css">
    .navbar {
      display: none;
    }
    
    #left-menu {
      display: none;
    }
    
    footer {
      display: none;
    }
    
    .copyright {
      display: none;
    }
    
	html {
		display: table;
		margin: auto;
	}
	body {
        height: 100%;
		display: table-cell;
		vertical-align: middle;
	}
	.margin {
	  margin: 0 !important;
	}
</style>
</head>
<body>
	<div id="login-page" class="row" style="width:400px">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
              <img src="images/login.png" width="180px" height="90" alt="" class="responsive-img valign profile-image-login">
              <p class="center login-form-text"><a style="color:#008A97; font-size:25px">Lextend</a> - Extend your Lexicon</p>
               <div id="alert-danger" class="alert alert-success" role="alert" ng-hide="!success">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <a href="#" class="alert-link" style="color:#fff">Password recovery success please check <br/> your email to complete!</a>
            </div>
            <div id="alert-danger" class="alert alert-danger" role="alert" ng-hide="!error">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <a href="#" class="alert-link" style="color:#fff">Password recovery not success please try again</a>
            </div>
          </div>
        </div>
        <div class="row margin">
           <div class="input-field col s12">
            <i class="small material-icons prefix">recent_actors</i>
            <input id="username" type="text" placeholder="Username" ng-model="username" onkeydown="if (event.keyCode == 13) document.getElementById('foorgot').click()">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a id="foorgot" ng-click="forgot()" class="btn waves-effect waves-light col s12">Recover my Password</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="#/register">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="#/login">Login</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/scripts/materialize.js"></script>
  </body>
</html>
